#!/usr/bin/env python
###coding=utf-8  
#配置文件创建完成后，需要使用如下命令为配置文件添加可执行权限：chmod a+x cfg/*.cfg

# 动态配置包名
PACKAGE = 'my_dyn_rec'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# list of parameters
gen.add("int_param", int_t, 0, "description for the interger parameter", 50, 0, 100)
gen.add("str_param", str_t, 0, "description for the string parameter", "Hello world")

# 第二个参数表示动态参数运行的节点名
# 第三个参数是生成文件所使用的前缀，需要和配置文件名相同
exit(gen.generate(PACKAGE, "my_dyn_rec", "MyParams"))
